
body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    
    display: flex;
    justify-content: center;
    
}

.pagina {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 60px;      
}

.pagina-ancho {
    max-width: 1300px;
    background-color: #fff;
}
.div-edu {
    width: 200px;
}

  
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background: #f1e5d2;
    color: rgba(255, 255, 255, 0.9);
    height: auto;
    flex-basis: 100px;
}

.flex-institucional {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background: #f1e5d2;
    color: rgba(14, 12, 12, 0.9);
    height: auto;
    
}

.footer {
    
    background: #f1e5d2;
    
    height: auto;
   
}

.picture {
    width: 100%;
  }

  .picture-index {
    width: 100%;
  }

.nombre {
    font-size: 2rem;
    letter-spacing: 0.175rem;
    
}

.list-unstyled {
    padding-left: 0;
    list-style: none;       
}

p {
    margin-top: 10;
    margin-bottom: 1rem;
}


/********************* M A R G E N E S *****************************/

.me-2 {
    margin-right: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-0 {
    margin-bottom: 0;
  }

.mb-5 {
    margin-bottom: 1rem;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}



/********************* P A D D I N G *****************************/

.pad1 {
    padding-left: 20px;
    padding-right: 60px;
}

.pad2 {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.pad-conocimientos {
    padding-right: 60px;
}

.pad-educacion {
    padding-right: 60px;
}
.p-parrafo {
    padding: 20px;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.p-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}


/*******************************************************************/


.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
 }
.text-center {
    text-align: center !important; 
}

.text-uppercase {
    text-transform: uppercase !important;
}

.iconos .fa-container {
    font-size: 1rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 0.125rem;
    background: white;
    color: #59578E;
}



.section-title {
    font-size: 1.25rem;
    position: relative;
    color: #59578E;
  }

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #8d9aad;
}

.section-content {
    color: #58677c;
}

.position-title {
    font-size: 1rem;
    color: #434E5E;
}
.position-time {
    font-size: 0.875rem;
    color: #aab4c3;
}

.company-name {
    color: #58677c;
    font-size: 0.875rem;
    font-weight: 500;
}

.degree {
    color: #434E5E;
}
  
.degree-org {
    font-size: 0.875rem;
}
  
.degree-time {
    color: #aab4c3;
    font-size: 0.875rem;
}
  
.award-name {
    font-weight: bold;
    color: #434E5E;
}
  
.award-desc {
    font-size: 0.875rem;
}

@media (max-width: 767.98px) {
    
    .picture {
      width: 200px;
      border-radius: 4px;
    }
    .picture-index {
        width: 350px;
        border-radius: 4px;
      }
    .nombre {
        margin-top: auto;
        font-size: 1.25rem;
        letter-spacing: 0.175rem;    
    }
    
    .profesion {
        font-size: 0.75rem;
        letter-spacing: 0.175rem;
    }
    
}

@media (min-width: 300px) and (max-width: 480px) {

    .flex-container {
        justify-content: center;
    }
    .pad1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .picture {
        width: 200px;
        border-radius: 4px;
    }
    .picture-index {
        width: 350px;
        border-radius: 4px;
    .nombre {
          margin-top: auto;
          font-size: 1.25rem;         
    }      
    .profesion {
          font-size: 0.75rem;          
    }
    
}