{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="div-background p-5">
	
		<h5 class="text-uppercase ">Nuestra Filosofía</h5>
		<div class="section-content">
			Perro feliz, es un espacio médico clínico para perros, presta servicios médicos
				veterinarios de alta calidad, con la mejor atención, cuidado y cariño para ellos y sus familias.

				Este proyecto nace como producto de la filosofía de su fundador Gerardo Moreno.
				Nuestoro compromiso es brindar un servicio de atención médica de excelente calidad.
				Contamos con el conocimiento, la tecnología y la calidad humana que aportan soluciones a las altas
				expectativas de nuestros pacientes y clientes cada vez más exigentes.
				Por eso, Perro Feliz cuanta con los siguiente valores.
		</div>
		<div class="section-content">
			<ul>
				<li><span>Compromiso</span></li>
				<li><span>Profesionalismo</span></li>
				<li><span>Responsabilidad Social</span></li>
				<li><span>Respeto</span></li>
				<li><span>Transparencia</span></li>
				<li><span>La buena planificación</span></li>
				<li><span>El pensamiento estratégico</span></li>
	
			</ul>
		</div>
		<div class="section-content">
			Nuestra política es colaborar con el cliente y sus necesidades diarias, rodeándonos de profesionales
			preparados para cada situación que se pueda presentar. No dudes en pedirnos información sobre cualquier tipo de
			problemática, porque siempre intentaremos daros una o más soluciones.
		</div>

	<div class="flex-container">
		<div class="row">

			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'imagenes/vision.jpeg' %}"
						alt=""><br><br>
						<h5 class="text-uppercase">Visión</h5>
						<div class="section-content">
							<p>Ser reconocida como una clínica líder en la atención médica de animales y
								servicios de bienestar animal. Esto se logra mediante la implementación de prácticas en la atención
								médica veterinaria, la promoción de la educación y la prevención de enfermedades, y el compromiso de
								ofrecer una atención personalizada y compasiva a cada animal y su dueño. Además de esforzarnos día a día
								para ser una parte integral para la comunidad y promover la importancia del bienestar animal en la
								sociedad.</p>
						</div>
				</div>
				
			</div>
			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid mb-lg-0 rounded" src="{% static 'imagenes/mision.jpeg' %}"
						alt=""><br><br>
						<h5 class="text-uppercase ">Misión</h5>
						<div class="section-content">
							<p>Proporcionar atención médica de alta calidad para los animales y ofrecer
								servicios de bienestar animal a la comunidad. Esto se logra a través de la realización de exámenes
								físicos, diagnósticos y tratamientos, procedimientos quirúrgicos y otros servicios de atención médica.
								Además, en nuestra veterinaria "PERRO FELIZ" también ofrecemos servicios de educación, y prevención de
								enfermedades para ayudar a los dueños de mascotas a mantener a sus animales sanos y felices.
							</p>
						</div>
				</div>
				
			</div>
			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid mb-lg-0 rounded" src="{% static 'imagenes/valores.jpeg' %}"
						alt=""><br><br>
						<h5 class=" text-uppercase ">Objetivos</h5>
						<div class="section-content">
							
							<ul>
								
								<li>Automatizar los procesos de captura de pedidos y facturación.</li>
								<li>Optimizar los recursos disponibles.</li>
								<li>Mejorar continuamente las tecnologías.</li>
								<li>Proporcionar amplia disponibilidad horaria.</li>
								<li>Brindar precios accesibles.</li>
								<li>Mantener un ambiente seguro y acogedor.</li>
								

							</ul>
							
						</div>
				</div>
				
			</div>
		</div>

	</div>

</div>


{% endblock %}