{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Nuestra Filosofía</h2>
		<div class="section-content">
			<p class="mb-0">Veterinaria El perro feliz, es un espacio médico clínico para animales.
				Este proyecto nace en el año 2005 como producto de la filosofía de su fundador Gerardo Moreno.
				Nuestoro compromiso es brindar un servicio de atención médica de excelente calidad.
				Contamos con el conocimiento, la tecnología y la calidad humana que aportan soluciones a las altas
				expectativas de nuestros pacientes y clientes cada vez más exigentes. 
				Por eso, Perro Feliz cuanta con los siguiente valores.</p>
		</div>
		<div class="section-content">
			<ul>
				<li><span>Compromiso</span></li>
				<li><span>Profesionalismo</span></li>
				<li><span>Responsabilidad Social</span></li>
				<li><span>Respeto</span></li>
				<li><span>Transparencia</span></li>
				<li><span>La buena planificación</span></li>
				<li><span>El pensamiento estratégico</span></li>
	
			</ul>
		</div>
	
	</section>
	
	<div class="flex-institucional">
		<div class="row">

			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/vision.jpeg' %}"
						alt="">
				</div>
				<div class="p-5">
					<section class="mb-5">
						<h2 class="section-title text-uppercase pb-3 mb-3">Visión</h2>
						<div class="section-content">
							<p class="mb-0">Nuestra visión es ser reconocida como una clínica líder en la atención médica de animales y
								servicios de bienestar animal. Esto se logra mediante la implementación de prácticas en la atención
								médica veterinaria, la promoción de la educación y la prevención de enfermedades, y el compromiso de
								ofrecer una atención personalizada y compasiva a cada animal y su dueño. Además de esforzarnos día a día
								para ser una parte integral para la comunidad y promover la importancia del bienestar animal en la
								sociedad.</p>
						</div>
					</section>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/mision.jpeg' %}"
						alt="">
				</div>
				<div class="p-5">
					<section class="mb-5">
						<h2 class="section-title text-uppercase pb-3 mb-3">Misión</h2>
						<div class="section-content">
							<p class="mb-0">Nuestra misión es proporcionar atención médica de alta calidad para los animales y ofrecer
								servicios de bienestar animal a la comunidad. Esto se logra a través de la realización de exámenes
								físicos, diagnósticos y tratamientos, procedimientos quirúrgicos y otros servicios de atención médica.
								Además, en nuestra veterinaria "PERRO FELIZ" también ofrecemos servicios de educación, y prevención de
								enfermedades para ayudar a los dueños de mascotas a mantener a sus animales sanos y felices.
							</p>
						</div>
					</section>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-5">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/valores.jpeg' %}"
						alt="">
				</div>
				<div class="p-5">
					<section class="mb-5">
						<h2 class="section-title text-uppercase pb-3 mb-3">Objetivos</h2>
						<div class="section-content">
							<ul>
								<li><span>Automatizar los procesos de captura de pedidos y facturación.</span></li>
								<li><span>Optimizar los recursos disponibles.</span></li>
								<li><span>Mejorar continuamente las tecnologías.</span></li>
								<li><span>Proporcionar amplia disponibilidad horaria.</span></li>
								<li><span>Brindar precios accesibles.</span></li>
								<li><span>Mantener un ambiente seguro y acogedor</span></li>
								

							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>

	</div>

</div>


{% endblock %}