{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h5 class="text-uppercase ">Analisis Foda</h5>

	</section>
	<div class="flex-institucional">
		<div class="row">

			<div class="grid-container">
				<div class="grid-item">
					<p>Fotalezas</p>
					<ul>
						<li><span>Precios por debajo del mercado en lugares accesibles y durante las horas
								adecuadas.</span></li>
						<li><span>Solicitar una cita solo para cirugías, esto resulta más accesible y rápido para el
								resto.</span></li>
						<li><span>Posee servicios para todo tipo de cuidados.</span></li>
						<li><span>Permanece abierto todos los días de la semana en horarios accesibles y cuenta con un
								servicio de emergencia.
							</span></li>
						<li><span>Posee un módulo sanitario patentado de alta tecnología.</span></li>
						<li><span>Cuenta con un edificio de fácil acceso y de fácil reconocimiento.</span></li>

					</ul>

				</div>
				<div class="grid-item">
					<p>Debilidades</p>
					<ul>
						<li><span>Deficiente implementación de la base de datos utilizada para el registro y solicitudes de los
								clientes.</span>
						</li>
						<li><span>Falta de comunicación entre las sucursales y la casa central con respecto a sus registros financieros y de
								los clientes en general.</span></li>
						<li><span>Dependencia excesiva en los servicios básicos, lo que podría limitar el crecimiento a largo plazo.
							</span></li>
						<li><span>Poco o nulo conocimiento sobre publicidad en redes sociales.</span></li>
						<li><span>Falta de organización con respecto al personal.</span></li>
						<li><span>No posee una herramienta informática para gestión de cobros y pedidos realizados.</span></li>
						<li><span>Poca inversión en marketing.</span></li>
						<li><span>No ofrece servicio a domicilio.
							</span></li>
					</ul>
				</div>

				<div class="grid-item">
					<p>Oportunidades</p>
					<ul>
						<li><span>Expandir el número de establecimientos el próximo año en nuevas ubicaciones
								geográficas.</span></li>
						<li><span>Contar con un sistema que automatice la captura, procesamiento de pedidos y demás
								registros, que sea más acorde a las necesidades y exigencias de la compañía.</span></li>
						<li><span>Expandir la comunicación con el cliente a través de los diferentes medios de
								comunicación.</span></li>
						<li><span>Cupones de descuento para adquirir nuevos clientes.</span></li>
						<li><span>Mayor demanda de servicios para mascotas debido al aumento en la tenencia de mascotas
								en todo el mundo.
							</span></li>
						<li><span>Mayor conciencia sobre la importancia del cuidado adecuado de las mascotas.</span>
						</li>

					</ul>
				</div>
				<div class="grid-item">
					<p>Amenazas</p>
					<ul>
						<li><span>Cambios en las regulaciones gubernamentales que podrían afectar negativamente a la
								industria del cuidado de mascotas.</span></li>
						<li><span> Aumento en los costos operativos debido a factores como el aumento del precio del
								combustible y los salarios más altos para los empleados.</span></li>
						<li><span> Posibilidad de una recesión económica que podría reducir la demanda de servicios para
								mascotas.</span></li>
						<li><span>La posibilidad de que se introduzcan nuevos competidores al mercado.</span></li>
						<li><span>Fracaso a la hora de evolucionar o el no poder adaptarse a los tiempos modernos y sus nuevas tecnologías.</span></li>
						
					
					</ul>
				</div>

			</div>

		</div>

	</div>

</div>


{% endblock %}