{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Historia</h2>
		<div class="flex-container">
			
			<div>
				<img class="picture" src="{% static 'imagenes/GerardoMoreno.jpg' %}" alt="">
			</div>
			<div>

			</div>
			<div class="section-content">
				<p>Gerardo Moreno tenía un mal día. Odiaba volar a casa en la mañana del sábado,
					pero la conferencia se había alargado tanto el viernes que perdió su avión. En menos de cuarenta y ocho horas
					estaba de regreso en el aeropuerto en camino hacia otro simposio sobre ingeniería mecánica.
					La banda transportadora de equipaje se rompió cuando apenas veía que su maleta comenzaba a salir.
					Un solo asistente en overol gris comenzó a sacar el equipaje en la terminal.
					Pronto se hizo obvio que el contenido completo del 767 sería recuperado maleta por maleta,
					antes de que la suya pudiera ser rescatada de la banda transportadora inerte.
					Incapaz de llamar la atención del asistente, Gerardo encontró un teléfono público y llamó a su casa.
					Contestó su hijo Tomás. "Hola papá, mamá te ha estado esperando, Bombón necesita ir al veterinario inmediatamente"
				</p>
				<p>Bombón apareció por primera vez en la vida de Gerardo cuando regresó de un viaje a Japón.
					Uno de los compañeros de escuela de Tomás llevó una caja llena de cachorros labrador color chocolate para
					enseñarlos. La caja pronto se vació. Habiendo crecido como mascota de compañía, Bombón nunca había tenido éxito como
					perro de jardín. Por consecuencia, los que vivían en casa de los Moreno ahora poseían una vitrina sin vidrios, tres
					sillas de comedor en vez de cuatro y los restos quemados de lo que una vez fue una cobija eléctrica. En este día
					pareciera que la vida de abandono de Bombón al fin lo atrapó. Astillas de la cómoda de cedro de la señora Moreno se
					le atoraron en las encías, causándole una infección. Bombón trató de administrarse el remedio de perro casero de
					revolcarse en el polvo fuera de la puerta del patio sin tener éxito.</p>
				<p>Cuando dejó el teléfono, Gerardo pudo ver que ya habían descargado todas las maletas de los demás pasajeros con la
					notable excepción de la suya, la cual permanecía sola en la banda transportadora. Su equipaje fue recuperado al fin
					por un maletero malhumorado que expresó su inconformidad cuando Gerardo no le dio propina por sus esfuerzos. Una vez
					reunido con su maleta, Gerardo se embarcó en un recorrido frenético contra el tráfico del futbol del sábado para
					recoger a Bombón. Viendo que el perro estaba demasiado sucio para transportarlo, Gerardo y Bombón gozaron de un baño
					rápido y frío en la entrada del garaje. Se estaba haciendo tarde y el estadio de futbol estaba entre su casa y la
					clínica del veterinario. Llegaron cinco minutos antes de que cerraran, quedando frente a la gélida mirada de la
					recepcionista que les informó que la oficina estaba cerrada los domingos, por lo que tenía que llevarse al perro y
					volver el lunes, cuando regrese el doctor.</p>
				<p>Esa noche, Gerardo se acostó pensando sobre los eventos del día. "¿Por qué sucede que no se puede encontrar una
					veterinaria en la ciudad que esté abierta cuando se la necesita? ¿Será que ya nadie cree en el servicio y en la
					eficiencia? ¿Y por qué no pueden hacer un transportador de equipaje que funcione?" Repentinamente la inspiración le
					llegó a Gerardo Moreno “¡Lo tengo!”, dijo, saltando de la cama y yendo rápidamente a su taller.</p>
				<p>
					NACE UNA COMPAÑÍA…
				</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}
				
				
