{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section>
		<h5 class="text-uppercase">Nuestra Identidad</h5>
		<div class="flex-container">
			
			<div>
				<img class="picture" src="{% static 'imagenes/GerardoMoreno.jpg' %}" alt="">
				
			</div>
		
			<div class="section-content">
				<br>
				<h5>Historia</h5>
				<p>Perro Feliz nace en el año 2005 a partir de una urgencia y necesidad de atención para “Bombón”, el perro labrador de la familia
					de Gerardo Moreno (Presidente de Perro Feliz). Dado a la falta de atención en días y horarios particulares por
					parte de la veterinaria local, llevaron a que Gerardo se cuestionara ¿Por qué sucede que no se puede encontrar
					una veterinaria en la ciudad que esté abierta cuando se la necesita?, ¿Será que ya nadie cree en el servicio y
					en la eficiencia?, ¿Y por qué no pueden hacer un transportador de equipaje que funcione?.</p>
			
			
			</div>
		</div>

		<div class="flex-institucional">
			<div class="row">
	
				<div class="grid-container">
					<div class="grid-item">
						<h5>Tamaño:</h5>
						<p>Perro Feliz cuenta con cinco establecimientos en el gran área metropolitana.</p>
	
					</div>
					<div class="grid-item">
						<h5>Campo de actividad:</h5>
						<p>Actualmente se especializa en la atención y cuidado integral de perros.
						Los servicios incluyen vacunación, diagnóstico, prescripción, cirugías y todo tipo de cuidados.</p>
					</div>
	
					<div class="grid-item">
						<h5>Ambito geográfico de su actividad:</h5>
						<p>En Perro Feliz poseemos el 50% del mercado entre vecinos de la comunidad y zonas aledañas.
						</p>
					</div>
					<div class="grid-item">
						<h5>Tecnología:</h5>
						<p>Equipos de diagnóstico (rayos X y ecografías) monitores de signos vitales, equipos de anestesia,
						 equipo quirúrgico, herramientas para la atención dental y sistemas de registro de pacientes electrónicos
						 Cinta transportadora de pacientes y Sistema de base de datos de pacientes</p>
					</div>
	
				</div>
	
			</div>
	
		</div>
	

	</section>
</div>
{% endblock %}
				
				
