{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h5 class="text-uppercase">Indicadores</h5>

	</section>

	<p>Datos de atención de mascotas de nuestra veterinaria en los últimos 5 años.</p>
	<div class="flex-institucional">
	
		<table style="width:100%">
		  <tr>
			<th>Año</th>
			<th>2018</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
			<th>2022</th>
		  </tr>
		  <tr>
			<td>Perro Feliz</td>
			<td>66318</td>
			<td>90335</td>
			<td>131632</td>
			<td>170347</td>
			<td>215567</td>
		  </tr>
		  <tr>
			<td>Resto</td>
			<td>112919</td>
			<td>124749</td>
			<td>126470</td>
			<td>139375</td>
			<td>156100</td>
		  </tr>
		  <tr>
			<td>Total de atenciones</td>
			<td>179237</td>
			<td>215084</td>
			<td>258102</td>
			<td>309722</td>
			<td>371667</td>
		  </tr>
		</table>
				
		

	</div>
	
	

</div>
<div class="p-5">
	<div class="flex-institucional">
	<div>
		<img class="picture" src="{% static 'imagenes/indicador-competitividad.jpg' %}" alt="">
	</div>
</div>

</div>


<div class="p-5">

	<p>Indicador de satisfacción de los Clientes</p>
	<div class="flex-institucional">
	
		<div>
			<img class="picture" src="{% static 'imagenes/indicador-satisfaccion.png' %}" alt="">
		</div>
		

	</div>
	
	

</div>
<div class="p-5">
	<div class="flex-institucional">
	<div>
		<img class="picture" src="{% static 'imagenes/grafica-satisfaccion.png' %}" alt="">
	</div>
</div>

</div>


{% endblock %}
				
