{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Nuestra compañía</h2>
		<div class="section-content">
			<p class="mb-0">Veterinaria El perro feliz, es un espacio médico clínico para animales.

				Este proyecto nace en el año 2005 como producto de la filosofía de sus socios, Fátima López y Raúl Alcoba. El propósito es  brindar un servicio de atención médica para animales de excelente calidad. Contando con el conocimiento, la tecnología y la calidad humana  que aporten soluciones a nuestros pacientes y clientes. </p>
		</div>
	</section>
	<div class="flex-container">
		<div class="row">
				
			<div class="col-sm">
				<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/perfil.jpg' %}" alt="">
				<li>Paula Garrocho </li>
			</div>
			<div class="col-sm">
				<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/perfil.jpg' %}" alt="">
				<li>Miguel Arce</li>
			</div>
			<div class="col-sm">
				<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'imagenes/perfil.jpg' %}" alt="">
				<li>Miguel Arce - Analista Programador</li>
			</div>
		</div>	
				   
	</div>
	
</div>
<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Visión</h2>
		<div class="section-content">
			<p class="mb-0">La Visión  del equipo que conforma la veterinaria es acompañar las demandas crecientes o cambiantes  de nuestros clientes con respecto al cuidado de las mascotas. Mejorando nuestras capacidades a partir de la formación permanente y de la  incorporación de nuevas tecnologías y servicios.  </p>
		</div>
	</section>
</div>
<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Misión</h2>
		<div class="section-content">
			<p class="mb-0">Nuestra Misión es brindar atención médica de excelente calidad y proporcionar todos los insumos necesarios para el bienestar de los animales de compañía y la convivencia con sus propietarios.  Dirigiendo sus esfuerzos hacia los ciudadanos comprometidos con la salud y el bienestar animal, a partir de un  diagnóstico acertado con buenas prácticas sanitarias y terapéuticas.   </p>
		</div>
	</section>
</div>
<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Valores</h2>
		<div class="section-content">
			<ul>
				<li><span>Compromiso</span></li>
				<li><span>Profesionalismo</span></li>
				<li><span>Responsabilidad Social</span></li>
				<li><span>Respeto</span></li>
				<li><span>Transparencia</span></li>
				
			</ul>
		</div>
	</section>
	
	
	
</div>



{% endblock %}


				
        

		