{% extends 'base.html' %}

{% load static %}


{% block contenido %}


<div class="p-5">
	<section>

		<div class="flex-institucional">
			<div class="row">
			
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'imagenes/servicio-veterinario.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Servicio médico veterinario</h5>
							<p class="card-text">¡En Perro Feliz, la salud y el bienestar de tus mascotas son nuestra prioridad número uno!
								Nuestro servicio médico veterinario está diseñado para brindarles la mejor atención y cuidado en todas las
								etapas de sus vidas.</p>
							<p class="card-text">Que incluye?</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Consultas</li>
							<li class="list-group-item">Vacunación y desparasitación</ /li>
							<li class="list-group-item">diagnóstico y tratamientos</ /li>
							<li class="list-group-item">cirugías</ /li>
							<li class="list-group-item">Cuidados preventivos</ /li>
						</ul>
						<div class="card-body">
						  <a href="#" class="card-link">Mirá por qué nos eligieron</a>
						  
						</div>
					</div>
				</div>
			
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'imagenes/servicio-acicalamiento.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Servicio de acicalamiento</h5>
							<p class="card-text">Entendemos que el cuidado estético es tan importante como el cuidado de la salud de tu mascota.
								Nuestro servicio de acicalamiento está diseñado para hacer que tus peludos amigos luzcan su mejor aspecto y se
								sientan radiantes tanto por dentro como por fuera.
							</p>
							<p class="card-text">Que incluye?</p>
						</div>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">Baño y aseo</li>
						  <li class="list-group-item">Cortes y peinados<//li>
						  <li class="list-group-item">Higiene bucal<//li>
						</ul>
						<div class="card-body">
						  <a href="#" class="card-link">Mirá por qué nos eligieron</a>
						  
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'imagenes/servicio-otros.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Otros servicios</h5>
							<p class="card-text">También te ofrecemos otros servicios que hace que la gente nos elija.</p>
							<p class="card-text">Cuáles son?</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Seguro médico</li>
							<li class="list-group-item">Servicio de guardia</ /li>
							<li class="list-group-item">Amplio estacionamiento</ /li>
							<li class="list-group-item">Recordatorio de vacunación</ /li>
							<li class="list-group-item">Musicoterapia, aromaterapia</ /li>
								<li class="list-group-item">Promociones y descuentos</ /li>
						</ul>
						<div class="card-body">
						  <a href="#" class="card-link">Mirá por qué nos eligieron</a>
						  
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	
</div>

{% endblock %}
