{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="p-5">
	<section class="mb-5">
		<h2 class="section-title text-uppercase pb-3 mb-3">Nuestro Staff</h2>

	</section>
	<div class="flex-institucional">
		<div class="row">

			<div class="grid-staff">
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/augusto_quispe.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/emanuel_amador.png' %}" alt="">
					</div>
				</div>

				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/horacio_postigo.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/justina_ramos.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/maria_esquibel.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/matias_pellisco.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/micaela_zerpa.png' %}" alt="">
					</div>
				</div>

				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/miguel_arce.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/rafael_montaño.png' %}" alt="">
					</div>
				</div>
				<div class="grid-item">
					<div>
						<img class="picture" src="{% static 'imagenes/staff/sergio_salva.png' %}" alt="">
					</div>
				</div>

			</div>

		</div>

	</div>

</div>
{% endblock %}


